@model ClinicAdminAppMVC.Models.Signin
@{
    Layout = "~/Views/Shared/Clinicmaster.cshtml";
    ViewBag.Title = "Forgot Password";
}

<script type="text/javascript">
    $(document).ready(function () {
        function cancel() {
            window.top.location.href = "http://localhost:49613/Account/SignIn";


        }
        $("#cancel").on('click', function () {
            cancel();
        })
        
    });
</script>
<div style="margin-top:50px">
    @using (Html.BeginForm())
    {
    <table border="0" style="border:solid darkslateblue ; width:40%; margin:auto">
        <tr style="height:50px; background-color:cornflowerblue ; font-size:25px">
            <th colspan="2">Please Enter your Registered Email ID</th>
        </tr>
        <tr style="height:40px">
            <th style="background-color:Highlight;width:40%">@Html.LabelFor(a => a.Email)</th>
            <td>@Html.TextBoxFor(a => a.Email, new { Style = "Width:97%;height:30px" })</td>
        </tr>
        <tr style="background-color:Highlight">
            <th  colspan="2"><input type="submit" value="Submit" id="btnfor" style="font-weight:bold;height:30px ;border:none;margin-right:8px; background-color:midnightblue;color:white;border-radius:2px; width:80px " />
            <input type="submit" value="Cancel" onclick="cancel()" id="cancel" style="font-weight:bold;height:30px ;border:none;background-color:midnightblue;color:white;border-radius:2px; width:80px " /></th>

        </tr>
    </table>
    }
    </div>


